.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 40px;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.button {
  padding: 10px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 18px;
  width: 100px;
}

.button:hover {
  background-color: #444;
  color: #ef6103;
  border: none;
}
